.button{

    position: relative;
    display: inline-block;

    &--dark{
        @extend .button;
        border: 1px solid red;
    }

    &--light{
        @extend .button;
        border: 1px solid blue;
    }

}
